header {
    height: 180px;
    width: 100%;
    background-image: url("../img/pattern.png");
    background-color: rgba(0, 0, 225, 0.5);
}

/* Parametri per centrare la pagina */
main, footer {
    width: 1500px;
    margin: auto;
}
/* Parametri per centrare la pagina */

.logo {
    width: 20%;
    margin-top: 80px;;
}

.the{
    font-size: 20px;
}

.titolo-articolo {
    font-size: 35px;
}

#autore {
    color: skyblue;
}

.sottotitolo {
    color: lightslategray;
}

#data {
    font-size: 12px;
    color: lightslategray;
}

.descrizione-foto {
    font-size: 12px;
}

#evidenziato {
    background-color: yellow;
}

thead {
    background-color: rgb(32, 82, 82);
    text-align: left;
}

.colore-righe {
    background-color: cyan;
}

.text-align {
    text-align: justify;
}

.footer-testo {
    color: darkgray;
}

.footer-img {
    background-image: url("../img/monitor.jpg");
    width: 300px;
    height: 200px;    
}

.footer-img2 {
    background-image: url("../img/graph.jpg");
    width: 300px;
    height: 200px;    
}

div > h3 {
    color: white;
}

table {
    border-spacing: 0;
}

.col {
    width: 50%;
}